body {
	margin: 0;
	padding: 2em;
	background-color: #efefef;
	font: 110%/1.4 "Playfair Display", Georgia, Times, "Times New Roman", serif;
}

@media all and (max-width: 36em) { /* Same as #wrapper width. */
	body { padding: 1em; }
}

.lighter { color: #666; }

.smaller { font-size: 80% ;}

.nobr { white-space: nowrap; }

#wrapper {
	max-width: 36em;
	margin: 0 auto;
}

h1 {
	margin: 0;
	font-weight: 900;
	line-height: 1;
}

h2 {
	margin: 0;
	font-weight: normal;
}

p { margin: 1em 0 0 0; }

a {
	font-weight: bold;
	color: #993300;
	text-decoration: underline;
}

a:hover { color: #cc3300; }

table {
	width: 100%;
	margin: 1em 0 0 0;
	font-size: 110%;
}

thead,
td:first-child {
	font-weight: bold;
}

thead td {
	line-height: 1.1;
	padding-bottom: 0.3em;
}

tbody { line-height: 1.6; }

tbody tr:first-child td { border-top: 0.1em solid black; }

tbody tr:nth-child(even) { background-color: #e0e0e0; }

tbody tr:hover { background-color: #ccc; }

td {
	vertical-align: top;
	width: 28%;
	padding-right: 0.5em;
}

td:first-child {
	width: 16%;
	padding-left: 0.25em;
}

td:last-child { padding-right: 0; }

td .lighter {
	font-size: 90%;
	font-weight: normal;
}

td.message {
	text-align: center;
	font-weight: normal;
	padding: 1em 0;
}

#chart {
	margin: 1em 0 0 20px;
	height: 230px;
}
