<!DOCTYPE html>
<html lang="en">
<head>
	{% if page.redirect %}
	<script>
	document.location = '{{ page.redirect }}';
	</script>
	{% endif %}
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title | strip_html }}{% else %}{{ site.ideas_title }}{% endif %}</title>
	<meta name="description" content="{{ page.description | strip_html }}" />
	<meta name="author" content="{{ site.author }}" />
	<meta name="viewport" content="width=400" />
	<meta property="og:title" content="{{ page.title | strip_html }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
	<meta property="og:site_name" content="{{ site.ideas_title }}" />
	<meta property="og:description" content="{{ page.description | strip_html }}" />
	<link rel="stylesheet" href="{{ site.baseurl }}/ideas/style.css" />
	<link rel="canonical" href="{% if page.redirect %}{{ page.redirect }}{% else %}{{ site.baseurl }}{{ page.url }}{% endif %}" />
	<link rel="alternate" type="application/rss+xml" title="Subscribe to {{ site.ideas_title }}" href="{{ site.baseurl }}/ideas/feed.xml" />
	{% include google_analytics.html %}
</head>
