---
exclude_from_rss: true
---
{% include ideas_head.html %}
{% assign sorted = site.pages | sort:'last_updated' | reverse %}
<body>
	<div id="wrapper">
		<h1>{{ site.ideas_title }}</h1>
		<ul>
			{% for p in sorted %}
				{% unless p.exclude_from_rss %}
					<li><a href="{% if p.redirect %}{{ p.redirect }}{% else %}{{ p.url }}{% endif %}">{{ p.title }}</a> ({{ p.last_updated|date:'%B %Y' }})</li>
				{% endunless %}
			{% endfor %}
		</ul>
		<p><strong>{{ site.author }}</strong><br />
		<a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
	</div>
</body>
</html>
